{{ define "http/parser" }}
    // Parse извлекает параметры из HTTP запроса
    func (v *{{ .Name }}) ParseRequest(r *http.Request) error {
    {{- range $field := .Fields }}
        {{- if ne $field.OaIn "" }}
            {
            {{/* Определяем имя параметра */}}
            {{- $paramName := $field.Name }}
            {{- if ne $field.OaParamName "" }}
                {{- $paramName = $field.OaParamName }}
            {{- end }}

            {{/* Определяем базовый Go-тип */}}
            {{- $baseType := $field.Type.Name -}}
            {{- if $field.Type.IsSlice -}}
                {{- $baseType = $field.Type.GenericBase -}}
            {{- else if $field.Type.IsPointer -}}
                {{- $baseType = $field.Type.GenericBase -}}
            {{- end }}

            {{/* Генерируем код получения значения из запроса */}}
            {{- $sourceExpr := "" -}}

            {{- if eq $field.OaIn "path" }}
                {{- $sourceExpr = printf "r.PathValue(%q)" $paramName -}}
            {{- else if eq $field.OaIn "query" }}
                {{- if $field.Type.IsSlice }}
                    {{- $sourceExpr = printf "r.URL.Query()[%q]" $paramName -}}
                {{- else }}
                    {{- /* Для скаляров из Query берем первый элемент, если он есть */}}
                    {{- $sourceExpr = printf "r.URL.Query()[%q][0]" $paramName -}}
                    {{- /* Примечание: Это вызовет панику, если параметра нет.
                       Нам нужно обернуть вызов парсинга в проверку наличия параметра. */}}
                {{- end }}
            {{- else if eq $field.OaIn "header" }}
                {{- $sourceExpr = printf "r.Header.Get(%q)" $paramName -}}
            {{- end }}

            // Parameter: {{ $paramName }} ({{ $field.OaIn }})
            {{- if $field.Type.IsSlice }}
                // Parsing slice: {{ $baseType }}[]
                {{ GenerateParseCode $field.Name $baseType $sourceExpr true }}
            {{- else }}
                // Parsing primitive: {{ $baseType }}

                {{- if and (eq $field.OaIn "query") (not $field.Type.IsSlice) }}
                    {{- /* Особая обработка для Query Scalars: проверяем наличие */}}
                    if vals := r.URL.Query()[{{ printf "%q" $paramName }}]; len(vals) > 0 {
                    {{ GenerateParseCode $field.Name $baseType "vals[0]" false }}
                    }
                {{- else }}
                    {{ GenerateParseCode $field.Name $baseType $sourceExpr false }}
                {{- end }}
            {{- end }}
            }
        {{- end }}
    {{- end }}
    return nil
    }
{{ end }}
