{{ template "common/header" (dict
"Package" .Package
"Structs" .Structs
"SourceFile" .SourceFile
"GenerateValidation" false
"GenerateOpenAPI" true
"Imports" .Imports
) }}

{{ range $struct := .Structs }}
    {{ template "openapi/schema" $struct }}

    {{/* Проверяем, есть ли в структуре поля с @oa:in */}}
    {{ $hasHttpParams := false }}
    {{ range $struct.Fields }}
        {{ if ne .OaIn "" }}
            {{ $hasHttpParams = true }}
        {{ end }}
    {{ end }}

    {{ if $hasHttpParams }}
        {{ template "openapi/params" $struct }}
        {{ template "http/parser" $struct }}
    {{ end }}
{{ end }}
