{{ template "common/header" (dict
"Package" .Package
"Structs" .Structs
"SourceFile" .SourceFile
"GenerateValidation" false
"GenerateOpenAPI" true
"Imports" .Imports
) }}

{{ range $struct := .Structs }}
    {{ template "openapi/schema" $struct }}
{{ end }}
