{{ define "openapi/schema" }}
    {{- /* Struct-level oneOf: generate OneOf schema without Properties/Type */}}
    {{- if .OaOneOf }}
        func (v *{{ .Name }}) OaSchema() *oa.Schema {
        schema := &oa.Schema{
        Ref: v.GlobalRef(),
        OneOf: []*oa.Schema{
        {{- range $typeName := .OaOneOf }}
            {Ref: "#/components/schemas/{{ buildGlobalRef $typeName $.PackagePath $.Module }}"},
        {{- end }}
        },
        Deps: []any{
        {{- range $typeName := .OaOneOf }}
            new({{ $typeName }}),
        {{- end }}
        },
        }

        {{- if .Description }}
            schema.Description = {{ oaString .Description }}
        {{- end }}

        {{ template "openapi/discriminator" . }}

        return schema
        }
    {{- else }}
        {{- /* Normal struct: Properties-based schema */}}
        func (v *{{ .Name }}) OaSchema() *oa.Schema {
        schema := &oa.Schema{
        Type:       "object",
        Properties: make(map[string]*oa.Schema, {{ CountBodyFields .Fields }}),
        Required:   make([]string, 0, {{ CountBodyFields .Fields }}),
        Ref:        v.GlobalRef(),
        }

        {{- if .Description }}
            schema.Description = {{ oaString .Description }}
        {{- end }}

        {{- $hasDeps := false }}
        {{- range $field := .Fields }}
            {{- if or $field.OaOneOf $field.OaAnyOf }}
                {{- $hasDeps = true }}
            {{- end }}
        {{- end }}
        {{- if $hasDeps }}
            schema.Deps = []any{
            {{- range $field := .Fields }}
                {{- range $typeName := $field.OaOneOf }}
                    new({{ $typeName }}),
                {{- end }}
                {{- range $typeName := $field.OaAnyOf }}
                    new({{ $typeName }}),
                {{- end }}
            {{- end }}
            }
        {{- end }}

        {{- range $field := .Fields }}
            {{- if eq $field.OaIn "" }}
                {
                prop := &oa.Schema{}
                {{- if eq $field.OaFormat "binary" }}
                    prop.Type = "string"
                    prop.Format = "binary"
                {{- else if eq $field.OaFormat "byte" }}
                    prop.Type = "string"
                    prop.Format = "byte"
                    {{- /* (@oa:rewrite.type) */}}
                {{- else if $field.OaRewriteType }}
                    prop.Type = {{ oaString $field.OaRewriteType }}
                    {{- if eq $field.OaRewriteType "array" }}
                        prop.Items = &oa.Schema{}
                    {{- end }}
                    {{- /* stream autodetect */}}
                {{- else if openapiIsFile $field.Type }}
                    prop.Type = "string"
                    {{- if hasPrefix $field.Type.Name "[]byte" }}
                        prop.Format = "byte"
                    {{- else }}
                        prop.Format = "binary"
                    {{- end }}
                {{- else if and $field.Type.IsSlice $field.Type.IsGeneric }}
                    {{- $unwrapped := unwrapGenericType $field.Type }}
                    {{- $itemBase := baseType $unwrapped }}

                    prop.Type = "array"
                    prop.Items = &oa.Schema{}

                    {{- /* Определяем тип элемента массива */}}
                    {{- if eq $itemBase "string" }}
                        prop.Items.Type = "string"
                    {{- else if eq $itemBase "int" "int8" "int16" "int32" "int64" }}
                        prop.Items.Type = "integer"
                    {{- else if eq $itemBase "float32" "float64" }}
                        prop.Items.Type = "number"
                    {{- else if eq $itemBase "bool" }}
                        prop.Items.Type = "boolean"
                    {{- else if $unwrapped.IsStruct }}
                        {{- if $field.OaRewriteRef }}
                            prop.Items.Ref = "#/components/schemas/{{ $field.OaRewriteRef }}"
                        {{- else }}
                            prop.Items.Ref = "#/components/schemas/{{ globalRefFor $unwrapped.Name $unwrapped.PackagePath $unwrapped.Module $.PackagePath $.Module }}"
                        {{- end }}
                    {{- end }}

                    {{- /* Распаковка одиночных дженериков: Option[string] -> string */}}
                {{- else if $field.Type.IsGeneric }}
                    {{- $unwrapped := unwrapGenericType $field.Type }}
                    {{- if eq $unwrapped.Name "string" }}
                        prop.Type = "string"
                    {{- else if eq $unwrapped.Name "int" "int8" "int16" "int32" "int64" }}
                        prop.Type = "integer"
                    {{- else if eq $unwrapped.Name "float32" "float64" }}
                        prop.Type = "number"
                    {{- else if eq $unwrapped.Name "bool" }}
                        prop.Type = "boolean"
                    {{- else if eq $unwrapped.Name "time.Time" }}
                        prop.Type = "string"
                        prop.Format = "date-time"
                    {{- else if $unwrapped.IsStruct }}
                        prop.Type = "object"
                        {{- if $field.OaRewriteRef }}
                            prop.Ref = "#/components/schemas/{{ $field.OaRewriteRef }}"
                        {{- else }}
                            prop.Ref = "#/components/schemas/{{ globalRefFor $unwrapped.Name $unwrapped.PackagePath $unwrapped.Module $.PackagePath $.Module }}"
                        {{- end }}
                    {{- end }}
                {{- else if and $field.Type.IsStruct (not $field.Type.IsSlice) }}
                    prop.Type = "object"
                    {{- if $field.OaRewriteRef }}
                        prop.Ref = "#/components/schemas/{{ $field.OaRewriteRef }}"
                    {{- else }}
                        prop.Ref = "#/components/schemas/{{ globalRefFor $field.Type.Name $field.Type.PackagePath $field.Type.Module $.PackagePath $.Module }}"
                    {{- end }}
                {{- else if and $field.Type.IsSlice (not (hasPrefix $field.Type.Name "[]byte")) }}
                    {{- $ctx := dict "Field" $field "PkgPath" $.PackagePath "Module" $.Module }}
                    {{ template "openapi/field/slice" $ctx }}
                {{- else }}
                    {{- $ctx := dict "Field" $field "Pkg" $.Package "PkgPath" $.PackagePath "Module" $.Module }}
                    {{ template "openapi/field/type" $ctx }}
                {{- end }}
                {{ template "openapi/field/validators" $field }}
                {{- $ctx := dict "Field" $field "Pkg" $.Package "PkgPath" $.PackagePath "Module" $.Module }}
                {{ template "openapi/field/annotations" $ctx }}
                {{ template "openapi/field/description" $field }}
                {{- if $field.OaOneOf }}
                    prop.OneOf = []*oa.Schema{
                    {{- range $typeName := $field.OaOneOf }}
                        {Ref: "#/components/schemas/{{ buildGlobalRef $typeName $.PackagePath $.Module }}"},
                    {{- end }}
                    }
                {{- end }}
                {{- if $field.OaAnyOf }}
                    prop.AnyOf = []*oa.Schema{
                    {{- range $typeName := $field.OaAnyOf }}
                        {Ref: "#/components/schemas/{{ buildGlobalRef $typeName $.PackagePath $.Module }}"},
                    {{- end }}
                    }
                {{- end }}

                schema.Properties[{{ printf "%q" $field.SerializedName }}] = prop
                }
            {{- end }}
        {{- end }}
        {{- if .DiscriminatorPropertyName }}
            schema.Required = append(schema.Required, {{ oaString .DiscriminatorPropertyName }})
        {{- end }}
        {{ template "openapi/discriminator" . }}

        return schema
        }
    {{- end }}

    func (v *{{ .Name }}) GlobalRef() string {
    {{- $ref := .Name }}
    {{- if .PackagePath }}
        {{- $ref = print .PackagePath "." .Name }}
        {{- if .Module }}
            {{- $ref = print .Module "/" $ref }}
        {{- end }}
    {{- else if .Package }}
        {{- $ref = print .Package "." .Name }}
    {{- end }}
    return {{ printf "%q" $ref }}
    }
{{ end }}
