{{ define "openapi/schema" }}
    func (v *{{ .Name }}) OaSchema() *oa.Schema {
    schema := &oa.Schema{
    Type:       "object",
    Properties: make(map[string]*oa.Schema, {{ CountBodyFields .Fields }}),
    Required:   make([]string, 0, {{ CountBodyFields .Fields }}),
    Ref:        v.GlobalRef(),
    }

    {{- if .Description }}
        schema.Description = {{ oaString .Description }}
    {{- end }}

    {{- range $field := .Fields }}
        {{- if eq $field.OaIn "" }}
            {
            prop := &oa.Schema{}
            {{- if $field.OaRewriteType }}
                prop.Type = {{ oaString $field.OaRewriteType }}
                {{- if eq $field.OaRewriteType "array" }}
                    prop.Items = &oa.Schema{}
                {{- end }}
            {{- else if openapiIsFile $field.Type }}
                prop.Type = "string"
                {{- if hasPrefix $field.Type.Name "[]byte" }}
                    prop.Format = "byte"
                {{- else }}
                    prop.Format = "binary"
                {{- end }}
            {{- else if and $field.Type.IsStruct (not $field.Type.IsSlice) }}
                {{- if $field.OaRewriteRef }}
                    prop.Ref = "#/components/schemas/{{ $field.OaRewriteRef }}"
                {{- else }}
                    prop.Ref = "#/components/schemas/{{ globalRefFor $field.Type.Name $field.Type.PackagePath $field.Type.Module $.PackagePath $.Module }}"
                {{- end }}
            {{- else if and $field.Type.IsSlice (not (hasPrefix $field.Type.Name "[]byte")) }}
                {{- $ctx := dict "Field" $field "PkgPath" $.PackagePath "Module" $.Module }}
                {{ template "openapi/field/slice" $ctx }}
            {{- else }}
                {{- $ctx := dict "Field" $field "Pkg" $.Package "PkgPath" $.PackagePath "Module" $.Module }}
                {{ template "openapi/field/type" $ctx }}
            {{- end }}
            {{ template "openapi/field/validators" $field }}
            {{- $ctx := dict "Field" $field "Pkg" $.Package "PkgPath" $.PackagePath "Module" $.Module }}
            {{ template "openapi/field/annotations" $ctx }}
            {{ template "openapi/field/description" $field }}

            schema.Properties[{{ $field.Name | toLower | printf "%q" }}] = prop
            }
        {{- end }}
    {{- end }}

    {{- /* Discriminator вызывается ЗДЕСЬ, вне цикла, с контекстом структуры (.) */}}
    {{ template "openapi/discriminator" . }}

    return schema
    }

    func (v *{{ .Name }}) GlobalRef() string {
    {{- $ref := .Name }}
    {{- if .PackagePath }}
        {{- $ref = print .PackagePath "." .Name }}
        {{- if .Module }}
            {{- $ref = print .Module "/" $ref }}
        {{- end }}
    {{- else if .Package }}
        {{- $ref = print .Package "." .Name }}
    {{- end }}
    return {{ printf "%q" $ref }}
    }
{{ end }}
