{{ if .GenerateOpenAPI }}
    func (v *{{ .Struct.Name }}) OaSchema() *oa.Schema {
    schema := &oa.Schema{
    Type:       "object",
    Properties: make(map[string]oa.Schema, {{ len .Struct.Fields }}),
    Required:   make([]string, 0, {{ len .Struct.Fields }}),
    }
    {{- range $field := .Struct.Fields }}
        {
        prop := oa.Schema{}
        {{- if $field.Type.IsSlice }}
            prop.Type = "array"
            prop.Items = &oa.Schema{}
            {{- if eq $field.Type.Name "string" }}
                prop.Items.Type = "string"
            {{- else if eq $field.Type.Name "int" }}
                prop.Items.Type = "integer"
            {{- else if eq $field.Type.Name "float64" }}
                prop.Items.Type = "number"
            {{- else if $field.Type.IsStruct }}
                prop.Items.Ref = "#/components/schemas/{{ $field.Type.Name }}"
            {{- else }}
                prop.Items.Type = "string"
            {{- end }}
        {{- else if eq $field.Type.Name "string" }}
            prop.Type = "string"
        {{- else if eq $field.Type.Name "int" "int8" "int16" "int32" "int64" }}
            prop.Type = "integer"
        {{- else if eq $field.Type.Name "float32" "float64" }}
            prop.Type = "number"
        {{- else if eq $field.Type.Name "bool" }}
            prop.Type = "boolean"
        {{- else if eq $field.Type.Name "time.Time" }}
            prop.Type = "string"
            prop.Format = "date-time"
        {{- else if $field.Type.IsStruct }}
            prop.Ref = "#/components/schemas/{{ $field.Type.Name }}"
        {{- end }}
        {{- range $directive := $field.Directives }}
            {{- if eq $directive.Type "required" }}
                schema.Required = append(schema.Required, "{{ $field.Name | toLower }}")
            {{- else if eq $directive.Type "min" }}
                {{- if eq $field.Type.Name "string" }}
                    prop.MinLength = oa.Ptr[int64]({{ index $directive.Params 0 }})
                {{- else }}
                    prop.Minimum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                {{- end }}
            {{- else if eq $directive.Type "max" }}
                {{- if eq $field.Type.Name "string" }}
                    prop.MaxLength = oa.Ptr[int64]({{ index $directive.Params 0 }})
                {{- else }}
                    prop.Maximum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                {{- end }}
            {{- else if eq $directive.Type "gt" }}
                {{- if eq $field.Type.Name "string" }}
                {{- else }}
                    prop.Minimum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                    prop.ExclusiveMinimum = true
                {{- end }}
            {{- else if eq $directive.Type "gte" }}
                {{- if eq $field.Type.Name "string" }}
                {{- else }}
                    prop.Minimum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                {{- end }}
            {{- else if eq $directive.Type "lt" }}
                {{- if eq $field.Type.Name "string" }}
                {{- else }}
                    prop.Maximum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                    prop.ExclusiveMaximum = true
                {{- end }}
            {{- else if eq $directive.Type "lte" }}
                {{- if eq $field.Type.Name "string" }}
                {{- else }}
                    prop.Maximum = oa.Ptr[float64]({{ index $directive.Params 0 }})
                {{- end }}
            {{- else if eq $directive.Type "len" }}
                {{- if eq $field.Type.Name "string" }}
                    prop.MinLength = oa.Ptr[int64]({{ index $directive.Params 0 }})
                    prop.MaxLength = oa.Ptr[int64]({{ index $directive.Params 0 }})
                {{- else if $field.Type.IsSlice }}
                    prop.MinItems = oa.Ptr[int64]({{ index $directive.Params 0 }})
                    prop.MaxItems = oa.Ptr[int64]({{ index $directive.Params 0 }})
                {{- end }}
            {{- else if eq $directive.Type "pattern" }}
                {{- $pattern := index $directive.Params 0 }}
                {{- if eq $pattern "email" }}
                    prop.Pattern = `^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$`
                    prop.Format = "email"
                {{- else if eq $pattern "phone" }}
                    prop.Pattern = `^\+?[0-9]{8,15}$`
                    prop.Format = "phone"
                {{- else if eq $pattern "uuid" }}
                    prop.Pattern = `^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$`
                    prop.Format = "uuid"
                {{- else }}
                    prop.Pattern = {{ $pattern | printf "%q" }}
                {{- end }}
            {{- else if eq $directive.Type "enum" }}
                prop.Enum = []interface{}{ {{- range $i, $p := $directive.Params }}{{ if $i }}, {{ end }}{{ $p | printf "%q" }}{{ end }} }
            {{- end }}
        {{- end }}
        {{- range $oa := $field.OaAnnotations }}
            {{- if eq $oa.Type "title" }}
                prop.Title = {{ $oa.Value | printf "%s" }}
            {{- else if eq $oa.Type "description" }}
                prop.Description = {{ $oa.Value | printf "%s" }}
            {{- else if eq $oa.Type "example" }}
                prop.Example = {{ $oa.Value | printf "%s" }}
            {{- else if eq $oa.Type "format" }}
                {{- if eq $oa.Value "email" }}
                    prop.Format = "email"
                {{- else if eq $oa.Value "phone" }}
                    prop.Format = "phone"
                {{- else if eq $oa.Value "uuid" }}
                    prop.Format = "uuid"
                {{- else }}
                    prop.Format = {{ $oa.Value | printf "%s" }}
                {{- end }}
            {{- end }}
        {{- end }}
        schema.Properties[{{ $field.Name | toLower | printf "%q" }}] = prop
        }
    {{- end }}
    return schema
    }
{{ end }}
