{{ template "header" . }}

{{ range $struct := .Structs }}
    var (
    {{- range $field := $struct.Fields }}
        {{- if not $field.Type.IsSlice }}
            {{ $struct.Name }}_{{ $field.Name }}Validator = {{ template "validator_func" $field }}
        {{- end }}
    {{- end }}
    )

    // Validate проверяет структуру {{ $struct.Name }}
    func (v *{{ $struct.Name }}) Validate() error {
    {{- range $field := $struct.Fields }}
        {{- if $field.Type.IsSlice }}
            {{ template "slice_validate" $field }}
        {{- else }}
            {{ template "field_validate" (dict "Struct" $struct.Name "Field" $field) }}
        {{- end }}
    {{- end }}
    return nil
    }
{{ end }}
