{{ define "openapi/field/type" }}
    {{- $f := .Field }}
    {{- $pkg := .Pkg }}
    {{- $mod := .Module }}

    {{- if $f.Type.IsSlice }}
        prop.Type = "array"
        prop.Items = &oa.Schema{}

        {{- /* Извлекаем имя элемента из []User или [2]float64 */}}
        {{- $name := $f.Type.Name }}
        {{- /* Убираем префикс [] или [N] */}}
        {{- if hasPrefix $name "[]" }}
            {{- $name = trimPrefix $name "[]" }}
        {{- else }}
            {{- /* Это [N]T: находим первую ] и берем всё после неё */}}
            {{- $parts := split $name "]" }}
            {{- if gt (len $parts) 1 }}
                {{- $name = index $parts 1 }}
            {{- end }}
        {{- end }}

        {{- /* Теперь $name содержит "User" или "float64" */}}

        {{- /* Проверяем, является ли элемент примитивом */}}
        {{- if isPrimitive $name }}
            {{- if eq $name "string" }}
                prop.Items.Type = "string"
            {{- else if eq $name "int" "int8" "int16" "int32" "int64" "uint" "uint8" "uint16" "uint32" "uint64" }}
                prop.Items.Type = "integer"
            {{- else if eq $name "float32" "float64" }}
                prop.Items.Type = "number"
            {{- else if eq $name "bool" }}
                prop.Items.Type = "boolean"
            {{- else if eq $name "time.Time" }}
                prop.Items.Type = "string"
                prop.Items.Format = "date-time"
            {{- end }}
        {{- else }}
            {{- /* Это структура: генерируем Ref */}}
            {{- if $f.OaRewriteRef }}
                prop.Items.Ref = "#/components/schemas/{{ $f.OaRewriteRef }}"
            {{- else }}
                prop.Items.Ref = "#/components/schemas/{{ buildGlobalRef $name $f.Type.PackagePath $f.Type.Module }}"
            {{- end }}
        {{- end }}

    {{- else if eq $f.Type.Name "string" }}
        prop.Type = "string"
    {{- else if eq $f.Type.Name "int" "int8" "int16" "int32" "int64" }}
        prop.Type = "integer"
    {{- else if eq $f.Type.Name "float32" "float64" }}
        prop.Type = "number"
    {{- else if eq $f.Type.Name "bool" }}
        prop.Type = "boolean"
    {{- else if eq $f.Type.Name "time.Time" }}
        prop.Type = "string"
        prop.Format = "date-time"
    {{- else if eq $f.Type.Name "any" "interface{}" }}
        {{- /* any остаётся без типа, oneOf/anyOf добавятся из аннотаций */}}
    {{- end }}
{{ end }}
