{{ define "openapi/field/type" }}
    {{- $f := .Field }}
    {{- $pkg := .Pkg }}
    {{- $mod := .Module }}

    {{- if $f.Type.IsSlice }}
        prop.Type = "array"
        prop.Items = &oa.Schema{}
        {{- /* Извлекаем имя элемента: []User -> User */}}
        {{- $elemName := trimPrefix $f.Type.Name "[]" }}

        {{- /* Проверяем примитивы */}}
        {{- if eq $elemName "string" }}
            prop.Items.Type = "string"
        {{- else if eq $elemName "int" "int8" "int16" "int32" "int64" "uint" "uint8" "uint16" "uint32" "uint64" }}
            prop.Items.Type = "integer"
        {{- else if eq $elemName "float32" "float64" }}
            prop.Items.Type = "number"
        {{- else if eq $elemName "bool" }}
            prop.Items.Type = "boolean"
        {{- else if eq $elemName "time.Time" }}
            prop.Items.Type = "string"
            prop.Items.Format = "date-time"
        {{- else }}
            {{- /* Не примитив → считаем структурой и генерируем $ref */}}
            {{- /* Используем пакет/модуль родителя как fallback для globalRefFor */}}
            prop.Items.Ref = "#/components/schemas/{{ globalRefFor $elemName $f.Type.PackagePath $f.Type.Module $pkg $mod }}"
        {{- end }}

    {{- else if eq $f.Type.Name "string" }}
        prop.Type = "string"
    {{- else if eq $f.Type.Name "int" "int8" "int16" "int32" "int64" }}
        prop.Type = "integer"
    {{- else if eq $f.Type.Name "float32" "float64" }}
        prop.Type = "number"
    {{- else if eq $f.Type.Name "bool" }}
        prop.Type = "boolean"
    {{- else if eq $f.Type.Name "time.Time" }}
        prop.Type = "string"
        prop.Format = "date-time"
    {{- else if eq $f.Type.Name "any" "interface{}" }}
        {{- /* any остаётся без типа, oneOf/anyOf добавятся из аннотаций */}}
    {{- end }}
{{ end }}
