{{ define "duration_validation" }}
    {
    {{- $hasRequired := false }}
    {{- $hasOptional := false }}
    {{- range .Directives }}
        {{- if eq .Type "required" }}{{ $hasRequired = true }}{{ end }}
        {{- if eq .Type "optional" }}{{ $hasOptional = true }}{{ end }}
    {{- end }}

    builder := validator.New[time.Duration]("{{ .Name }}")
    {{- range .Directives }}
        {{- if eq .Type "required" }}
            builder.AddRule(validator.Required[time.Duration]())
        {{- else if eq .Type "not-zero" }}
            builder.AddRule(validator.DurationNotZero())
        {{- else if eq .Type "min" }}
            builder.AddRule(validator.DurationMin({{ index .Params 0 }}))
        {{- else if eq .Type "max" }}
            builder.AddRule(validator.DurationMax({{ index .Params 0 }}))
        {{- end }}
    {{- end }}

    {{- if and (not $hasRequired) $hasOptional }}
        if v.{{ .Name }} != 0 {
        if err := builder.Validate(v.{{ .Name }}); err != nil {
        errs = append(errs, err)
        }
        }
    {{- else }}
        if err := builder.Validate(v.{{ .Name }}); err != nil {
        errs = append(errs, err)
        }
    {{- end }}
    }
{{ end }}
