{{ define "time_validation" }}
    {
    {{- $hasRequired := false }}
    {{- $hasOptional := false }}
    {{- range .Directives }}
        {{- if eq .Type "required" }}{{ $hasRequired = true }}{{ end }}
        {{- if eq .Type "optional" }}{{ $hasOptional = true }}{{ end }}
    {{- end }}

    builder := validator.New[time.Time]("{{ .Name }}")
    {{- range .Directives }}
        {{- if eq .Type "required" }}
            builder.AddRule(validator.Required[time.Time]())
        {{- else if eq .Type "not-zero" }}
            builder.AddRule(validator.TimeNotZero())
        {{- else if eq .Type "after" }}
            builder.AddRule(validator.After("2006-01-02", {{ index .Params 0 | printf "%q" }}))
        {{- else if eq .Type "before" }}
            builder.AddRule(validator.Before("2006-01-02", {{ index .Params 0 | printf "%q" }}))
        {{- end }}
    {{- end }}

    {{- if and (not $hasRequired) $hasOptional }}
        if !v.{{ .Name }}.IsZero() {
        if err := builder.Validate(v.{{ .Name }}); err != nil {
        errs = append(errs, err)
        }
        }
    {{- else }}
        if err := builder.Validate(v.{{ .Name }}); err != nil {
        errs = append(errs, err)
        }
    {{- end }}
    }
{{ end }}
