{{ define "decorators" }}
    {{- range .Decorators }}
        {{- $param0 := "" }}
        {{- if gt (len .Params) 0 }}{{ $param0 = index .Params 0 }}{{ end }}

        {{- $code := GenerateDecoratorCode .Type $param0 $.Name }}
        {{- if ne $code "" }}
            {{ $code }}
        {{- end }}
    {{- end }}
{{ end }}
