{{ define "pointer_validate" }}
    // Указатель {{ .Field.Name }}
    {{- $hasOptional := false }}
    {{- range .Field.Directives }}
        {{- if eq .Type "optional" }}{{ $hasOptional = true }}{{ end }}
    {{- end }}
    {{- if $hasOptional }}
        if v.{{ .Field.Name }} != nil {
        val := *v.{{ .Field.Name }}
        if err := {{ .Struct.Name }}_{{ .Field.Name }}Validator.Validate(val); err != nil {
        return &errs.ValidationError{
        Field: "{{ .Field.Name }}",
        Rule:  "nested",
        Message: "поле {{ .Field.Name }}: " + err.Error(),
        }
        }
        }
    {{- else }}
        if v.{{ .Field.Name }} == nil {
        return &errs.ValidationError{
        Field: "{{ .Field.Name }}",
        Rule:  "required",
        Message: "поле {{ .Field.Name }} обязательно",
        }
        }
        val := *v.{{ .Field.Name }}
        if err := {{ .Struct.Name }}_{{ .Field.Name }}Validator.Validate(val); err != nil {
        return &errs.ValidationError{
        Field: "{{ .Field.Name }}",
        Rule:  "nested",
        Message: "поле {{ .Field.Name }}: " + err.Error(),
        }
        }
    {{- end }}
{{ end }}