{{ define "struct_validate" }}
    // Вложенная структура {{ .Field.Name }}
    if err := v.{{ .Field.Name }}.Validate(); err != nil {
    return &errs.ValidationError{
    Field: "{{ .Field.Name }}",
    Rule:  "nested",
    Message: "поле {{ .Field.Name }}: " + err.Error(),
    }
    }
{{ end }}