{{ define "validator_func" }}
    func() *validator.FieldValidator[{{ baseType .Type }}] {
    v := validator.New[{{ baseType .Type }}]("{{ .Name }}")
    {{- $hasRequired := false }}
    {{- range $directive := .Directives }}
        {{- if eq $directive.Type "required" }}
            v.AddRule(validator.Required[{{ baseType $.Type }}]())
            {{- $hasRequired = true }}
        {{- else if eq $directive.Type "min" }}
            {{- $param := index $directive.Params 0 }}
            {{- $base := baseType $.Type }}  {{/* 🆕 Вычисляем базовый тип один раз */}}
            {{- $isDuration := eq $base "time.Duration" }}

            {{- if $isDuration }}
                v.AddRule(validator.DurationMin({{ printf "%q" $param }}))
            {{- else if eq $base "string" }}  {{/* 🆕 Было: eq $.Type.Name "string" */}}
            v.AddRule(validator.MinLen({{ $param }}))
            {{- else }}
                v.AddRule(validator.Min[{{ $base }}]({{ $param }}))
            {{- end }}
        {{- else if eq $directive.Type "max" }}
            {{- $param := index $directive.Params 0 }}
            {{- $base := baseType $.Type }}
            {{- $isDuration := eq $base "time.Duration" }}

            {{- if $isDuration }}
                v.AddRule(validator.DurationMax({{ printf "%q" $param }}))
            {{- else if eq $base "string" }}  {{/* 🆕 Было: eq $.Type.Name "string" */}}
            v.AddRule(validator.MaxLen({{ $param }}))
            {{- else }}
                v.AddRule(validator.Max[{{ $base }}]({{ $param }}))
            {{- end }}
        {{- else if eq $directive.Type "eq" }}
            {{- $param := index $directive.Params 0 }}
            {{- if eq $.Type.Name "string" }}
                v.AddRule(validator.Eq[string]({{ $param | printf "%q" }}))
            {{- else }}
                v.AddRule(validator.Eq[{{ $.Type.Name }}]({{ $param }}))
            {{- end }}
        {{- else if eq $directive.Type "neq" }}
            {{- $param := index $directive.Params 0 }}
            {{- if eq $.Type.Name "string" }}
                v.AddRule(validator.Neq[string]({{ $param | printf "%q" }}))
            {{- else }}
                v.AddRule(validator.Neq[{{ $.Type.Name }}]({{ $param }}))
            {{- end }}
        {{- else if eq $directive.Type "gt" }}
            v.AddRule(validator.Gt[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
        {{- else if eq $directive.Type "gte" }}
            v.AddRule(validator.Gte[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
        {{- else if eq $directive.Type "lt" }}
            v.AddRule(validator.Lt[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
        {{- else if eq $directive.Type "lte" }}
            v.AddRule(validator.Lte[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
        {{- else if eq $directive.Type "after" }}
            v.AddRule(validator.After("2006-01-02", {{ index $directive.Params 0 | printf "%q" }}))
        {{- else if eq $directive.Type "before" }}
            v.AddRule(validator.Before("2006-01-02", {{ index $directive.Params 0 | printf "%q" }}))
        {{- else if eq $directive.Type "not-zero" }}
            {{- if eq $.Type.Name "time.Time" }}
                v.AddRule(validator.TimeNotZero())
            {{- else if eq $.Type.Name "time.Duration" }}
                v.AddRule(validator.DurationNotZero())
            {{- else }}
                v.AddRule(validator.NotZero[{{ $.Type.Name }}]())
            {{- end }}
        {{- else if eq $directive.Type "pattern" }}
            {{- $param := index $directive.Params 0 }}
            {{- if eq $param "email" }}
                v.AddRule(validator.Email())
            {{- else if eq $param "phone" }}
                v.AddRule(validator.Phone())
            {{- else if eq $param "uuid" }}
                v.AddRule(validator.UUID())
            {{- else }}
                v.AddRule(validator.MatchRegexp({{ $param | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "enum" }}
            {{- $base := baseType $.Type }}
            {{- if eq $base "string" }}
                v.AddRule(validator.Enum[string]({{- range $i, $p := $directive.Params }}{{- if $i }}, {{ end }}{{- $p | printf "%q" }}{{- end }}))
            {{- else }}
                v.AddRule(validator.Enum[{{ $base }}]({{- range $i, $p := $directive.Params }}{{- if $i }}, {{ end }}{{- $p }}{{- end }}))
            {{- end }}
        {{- else if eq $directive.Type "contains" }}
            v.AddRule(validator.Contains({{ index $directive.Params 0 | printf "%q" }}))
        {{- else if eq $directive.Type "starts_with" }}
            v.AddRule(validator.StartsWith({{ index $directive.Params 0 | printf "%q" }}))
        {{- else if eq $directive.Type "ends_with" }}
            v.AddRule(validator.EndsWith({{ index $directive.Params 0 | printf "%q" }}))
        {{- else if eq $directive.Type "url" }}
            v.AddRule(validator.URL())
        {{- else if eq $directive.Type "http_url" }}
            v.AddRule(validator.HTTPURL())
        {{- else if eq $directive.Type "dsn" }}
            v.AddRule(validator.DSN())
        {{- else if eq $directive.Type "date" }}
            v.AddRule(validator.Date({{ range $i, $p := $directive.Params }}{{ if $i }}, {{ end }}{{ $p | printf "%q" }}{{ end }}))
        {{- else if isCustomDirective $directive.Type }}
            {{- $param := "" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- $param = index $directive.Params 0 }}
            {{- end }}
            v.AddRule(func(value {{ baseType $.Type }}) *errs.ValidationError {
            return validator.ValidateCustom("{{ $directive.Type }}", value, {{ printf "%q" $param }})
            })
        {{- end }}
    {{- end }}
    {{- if and (not $hasRequired) (hasOptional .Directives) }}
        original := v
        v = validator.New[{{ baseType .Type }}]("{{ .Name }}")
        v.AddRule(validator.SkipIfZero(original.Validate))
    {{- end }}
    return v
    }()
{{ end }}
