{{ define "validator_func" }}
    func() *validator.FieldValidator[{{ baseType .Type }}] {
    v := validator.New[{{ baseType .Type }}]("{{ .Name }}")
    {{- $hasRequired := false }}
    {{- range $directive := .Directives }}
        {{- if eq $directive.Type "required" }}
            {{- /* Для указателей валидируем базовый тип, так как проверка nil идет отдельно в методе Validate */}}
            v.AddRule(validator.Required[{{ baseType $.Type }}]())
        {{- else if eq $directive.Type "min" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- $param := index $directive.Params 0 }}
                {{- /* Проверяем, является ли тип time.Duration или *time.Duration */}}
                {{- $isDuration := or (eq $.Type.Name "time.Duration") (eq (baseType $.Type) "time.Duration") }}

                {{- if $isDuration }}
                    v.AddRule(validator.DurationMin({{ printf "%q" $param }}))
                {{- else if eq $.Type.Name "string" }}
                    v.AddRule(validator.MinLen({{ $param }}))
                {{- else }}
                    v.AddRule(validator.Min[{{ baseType $.Type }}]({{ $param }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "max" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- $param := index $directive.Params 0 }}
                {{- /* Проверяем, является ли тип time.Duration или *time.Duration */}}
                {{- $isDuration := or (eq $.Type.Name "time.Duration") (eq (baseType $.Type) "time.Duration") }}
                {{- if $isDuration }}
                    v.AddRule(validator.DurationMax({{ printf "%q" $param }}))
                {{- else if eq $.Type.Name "string" }}
                    v.AddRule(validator.MaxLen({{ $param }}))
                {{- else }}
                    v.AddRule(validator.Max[{{ baseType $.Type }}]({{ $param }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "eq" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- if eq $.Type.Name "string" }}
                    v.AddRule(validator.Eq[string]({{ index $directive.Params 0 | printf "%q" }}))
                {{- else }}
                    v.AddRule(validator.Eq[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "neq" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- if eq $.Type.Name "string" }}
                    v.AddRule(validator.Neq[string]({{ index $directive.Params 0 | printf "%q" }}))
                {{- else }}
                    v.AddRule(validator.Neq[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "gt" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Gt[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
            {{- end }}
        {{- else if eq $directive.Type "gte" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Gte[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
            {{- end }}
        {{- else if eq $directive.Type "lt" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Lt[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
            {{- end }}
        {{- else if eq $directive.Type "lte" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Lte[{{ $.Type.Name }}]({{ index $directive.Params 0 }}))
            {{- end }}
        {{- else if eq $directive.Type "after" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.After("2006-01-02", {{ index $directive.Params 0 | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "before" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Before("2006-01-02", {{ index $directive.Params 0 | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "not-zero" }}
            {{- if eq $.Type.Name "time.Time" }}
                v.AddRule(validator.TimeNotZero())
            {{- else if eq $.Type.Name "time.Duration" }}
                v.AddRule(validator.DurationNotZero())
            {{- else }}
                v.AddRule(validator.NotZero[{{ $.Type.Name }}]())
            {{- end }}
        {{- else if eq $directive.Type "pattern" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- $param := index $directive.Params 0 }}
                {{- if eq $param "email" }}
                    v.AddRule(validator.Email())
                {{- else if eq $param "phone" }}
                    v.AddRule(validator.Phone())
                {{- else if eq $param "uuid" }}
                    v.AddRule(validator.UUID())
                {{- else }}
                    v.AddRule(validator.MatchRegexp({{ $param | printf "%q" }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "enum" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- if eq $.Type.Name "string" }}
                    v.AddRule(validator.Enum[string]({{ range $i, $p := $directive.Params }}{{ if $i }}, {{ end }}{{ $p | printf "%q" }}{{ end }}))
                {{- else }}
                    v.AddRule(validator.Enum[{{ $.Type.Name }}]({{ range $i, $p := $directive.Params }}{{ if $i }}, {{ end }}{{ $p }}{{ end }}))
                {{- end }}
            {{- end }}
        {{- else if eq $directive.Type "contains" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Contains({{ index $directive.Params 0 | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "starts_with" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.StartsWith({{ index $directive.Params 0 | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "ends_with" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.EndsWith({{ index $directive.Params 0 | printf "%q" }}))
            {{- end }}
        {{- else if eq $directive.Type "url" }}
            v.AddRule(validator.URL())
        {{- else if eq $directive.Type "http_url" }}
            v.AddRule(validator.HTTPURL())
        {{- else if eq $directive.Type "dsn" }}
            v.AddRule(validator.DSN())
        {{- else if eq $directive.Type "date" }}
            {{- if gt (len $directive.Params) 0 }}
                v.AddRule(validator.Date({{ range $i, $p := $directive.Params }}{{ if $i }}, {{ end }}{{ $p | printf "%q" }}{{ end }}))
            {{- end }}
        {{- else if isCustomDirective $directive.Type }}
            v.AddRule(func(value {{ $.Type.Name }}) *errs.ValidationError {
            {{- $param := "" }}
            {{- if gt (len $directive.Params) 0 }}
                {{- $param = index $directive.Params 0 }}
            {{- end }}
            return validator.ValidateCustom("{{ $directive.Type }}", value, {{ printf "%q" $param }})
            })
        {{- end }}
    {{- end }}
    {{- /* Optional: тоже baseType */}}
    {{- if and (not $hasRequired) (hasOptional .Directives) }}
        original := v
        v = validator.New[{{ baseType .Type }}]("{{ .Name }}")
        v.AddRule(validator.SkipIfZero(original.Validate))
    {{- end }}
    return v
    }()
{{ end }}
